NODE_ENV="PRODUCTION"
DATABASE_URL=""
NODE_ENV='development'
FRONTEND_LOCAL_URL="http://localhost:5173"
FRONTEND_AWS_URL="""
PORT=8000
FRONTEND_URL="http://localhost:5173"
JWT_SECRET=""
ACCESS_TOKEN_EXPIRY=""
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""
ENCRYPTION_KEY=""
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
AWS_REGION=""
S3_BUCKET_NAME=""
NODE_MAILER_HOST=""
NODE_MAILER_USER=""
NODE_MAILER_PASS=""
# NODE_MAILER_EMAIL=info@katelinhanhart.com

NODE_MAILER_EMAIL=""
REDIS_URL=redis://localhost:6379

# #Stripe comment this for the devlopement.
# SandBox 
STRIPE_PRICE_STANDARD_MONTHLY=""
# 1 doller recurring daily
STRIPE_PRICE_STANDARD_MONTHLY=""
STRIPE_PRICE_STANDARD_YEARLY=""
STRIPE_SECRET_KEY=""
STRIPE_DOMAIN_ID=""
STRIPE_WEBHOOK_SECRET=""


KIT_V4_API_KEY=""
KIT_FREE_USER_TAG_ID=""
KIT_PREMIUM_USER_TAG_ID=""



# Live STRIPE DETAILS PRODCUTION.
# STRIPE_PRICE_STANDARD_MONTHLY=""
# STRIPE_PRICE_STANDARD_YEARLY=""
# STRIPE_SECRET_KEY=""
# STRIPE_DOMAIN_ID=""
# STRIPE_WEBHOOK_SECRET=""